<div class="container mt-5">

    <h3>Validation Report</h3>

    @if (ViewBag.Errors.Count == 0)
    {
        <div class="alert alert-success">
            No validation errors
        </div>
    }
    else
    {
        <ul class="list-group">
            @foreach (var err in ViewBag.Errors)
            {
                <li class="list-group-item list-group-item-danger">
                    @err
                </li>
            }
        </ul>
    }


    <a href="/output.json" class="btn btn-success mt-3" download>
        Download JSON
    </a>

    <h3>JSON Output</h3>

        <pre class="bg-dark text-white p-3">
        @ViewBag.Json
        </pre>

</div>